
.stdout {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

.stderr {
  color: #FF6262;
  font-weight: 900;
  background-color: #2D2D2D;
  border-radius: 0px;
  padding: 8px;
  margin: 5px;
}